// Rang va font o‘zgaruvchilarini saqlovchi fayl

$primary-color: #007bff;
$secondary-color: white;
$discount-price-color: black;
$like-color: #ff6b6b;
$background-color: #e63946;

// Font va spacing o‘lchamlari
$font-size-base: 1rem;
$font-size-small: 0.8rem;
$spacing-small: 5px;
$spacing-medium: 10px;
$spacing-large: 1rem;
//
// 
